
@{
    ViewData["Title"] = "Index";
}

<h2>Portfolio</h2>
<p>This is an image of a group project game made in c#</p>
<img src="~/images/Portfolio.JPG" alt="Group project" height="600" width="1000">

